*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PoppinsLight;
    src: url("./fonts/Poppins_2/Poppins-Light.ttf");
}

@font-face {
    font-family: PoppinsReg;
    src: url("./fonts/Poppins_2/Poppins-Regular.ttf");
}

body {
    font-family: 'PoppinsLight', sans-serif;
}

.portfolio {
    color: white;
    background: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1));
}

nav {
    min-height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.logo {
    font-size: 20px;
}

.page {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.hero {
    overflow: hidden;
    height: 500px;
    align-self: center;
    justify-self: center;
    display: flex;
}

.hero img {
    height: 380px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.model-right {
    transform: translate(0%, 8%)
}

.model-left {
    transform: translate(0%, -8%)
}

.hero:hover .model-right {
    transform: translate(0%, 0%);
}

.hero:hover .model-left {
    transform: translate(0%, 0%);
}

.details {
    grid-column: 2/3;
    align-self: end;
}

.details h1 {
    font-size: 3.1rem;
    font-family: 'PoppinsReg';
}

.details h2 {
    font-size: 1.8rem;
    padding: 5px 0px;
}

.details p {
    font-size: 1.3rem;
    padding: 20px 0px 50px 0px;
}

.pages {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.pages>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pages h3 {
    font-size: 15px;
    padding: 30px;
}

.pages svg {
    cursor: pointer;
    opacity: .5;
    transform: scale(2);
}

.pages svg:hover {
    animation: dot .5s ease-in-out infinite alternate;
}

.pages svg.active {
    opacity: 1;
}

@keyframes dot {
    0% {
        transform: scale(2);
    }
    100% {
        transform: scale(3);
    }
}