*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PoppinsLight;
    src: url("./fonts/Poppins_2/Poppins-Light.ttf");
}

@font-face {
    font-family: PoppinsReg;
    src: url("./fonts/Poppins_2/Poppins-Regular.ttf");
}

body {
    font-family: 'PoppinsLight', sans-serif;
}

.portfolio {
    color: white;
    background: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1));
}

nav {
    min-height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.logo {
    font-size: 20px;
}

.page {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.hero {
    overflow: hidden;
    height: 500px;
    align-self: center;
    justify-self: center;
    display: flex;
}

.chef,
.hairstyle {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

.hero img {
    height: 380px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.hero a {
    display: flex;
}

.model-right {
    transform: translate(0%, 8%)
}

.model-left {
    transform: translate(0%, -8%)
}

.hero:hover .model-right {
    transform: translate(0%, 0%);
}

.hero:hover .model-left {
    transform: translate(0%, 0%);
}

.details {
    grid-column: 2/3;
    align-self: end;
}

.details h1 {
    font-size: 3.1rem;
    font-family: 'PoppinsReg';
}

.details h2 {
    font-size: 1.8rem;
    padding: 5px 0px;
}

.details p {
    font-size: 1.3rem;
    padding: 20px 0px 50px 0px;
}

.pages {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.pages>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pages h3 {
    font-size: 15px;
    padding: 30px;
}

.pages svg {
    cursor: pointer;
    opacity: .5;
    transform: scale(2);
}

.pages svg:hover {
    animation: dot .5s ease-in-out infinite alternate;
}

.pages svg.active {
    opacity: 1;
}

@keyframes dot {
    0% {
        transform: scale(2);
    }
    100% {
        transform: scale(3);
    }
}

.banner {
    height: 50vh;
    width: 100%;
    position: relative;
}

.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.author {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
    text-align: center;
}

.author h1 {
    font-size: 42px;
}

.author h3 {
    padding: 10px 0px;
    font-size: 32px;
}

.story,
.my-work {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 80px 0px;
}

.story-dicription,
.work-discription {
    width: 50%;
}

.story-dicription h3,
.work-discription h3 {
    font-size: 36px;
    padding-bottom: 30px;
}

.story-dicription p,
.work-discription p {
    padding: 20px 0px;
    font-size: 18px;
}

.work-gallery {
    display: grid;
    grid-template-columns: repeat(3, 200px);
}

.work-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:1024px) {
    .page {
        grid-template-columns: 5% 1fr 5%;
        grid-auto-rows: 2fr 1fr;
        align-items: center;
    }
    .hero {
        grid-column: 2/3;
        height: auto;
    }
    .details {
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: center;
    }
    .details h1 {
        font-size: 40px;
    }
    .details h3 {
        font-size: 32px;
    }
    .story,
    .my-work {
        flex-direction: column;
    }
    .story-dicription,
    .work-discription {
        width: 100%;
    }
    .work-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .profile {
        padding-top: 30px;
        text-align: center;
    }
}

.navOpen {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50vh;
    background: white;
    z-index: 1;
    color: black;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    justify-items: center;
    align-items: center;
    text-align: center;
    transform: translateY(-100%)
}

.contact {
    grid-column: 2/3;
}

.navOpen h3 {
    font-size: 28px;
    padding-bottom: 40px;
}

.navOpen p {
    font-size: 18px;
}

.social-links img {
    padding: 0px 20px;
}

.logo,
.menu {
    z-index: 2;
}

.menu {
    cursor: pointer;
}